[Unit]
Description=RakuOS User Service
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/libexec/rakuos/rakuos-user
Restart=no

[Install]
WantedBy=default.target