[Unit]
Description=RakuOS First Run Setup

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/rakuos-user
RemainAfterExit=yes

[Install]
WantedBy=default.target