[Unit]
Description=Fix DKMS source symlinks for all installed dkms-* packages
Before=dkms.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/fix-dkms

[Install]
WantedBy=multi-user.target
