[Unit]
Description=Fix NVIDIA DKMS source symlinks
Before=dkms.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/fix-nvidia-dkms

[Install]
WantedBy=multi-user.target
